.tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding:3px;
    margin: 3px;
}

.filter-tag {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filter-icon {
    padding-left: 8px;
    margin: auto;
}
