.tag-input input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
    color: #cdcdcd;
    opacity: unset;
}

.tag-input input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
    color: #cdcdcd;
    opacity: unset;
}

.tag-input input::input-placeholder {
	font-style: italic;
	font-weight: 300;
    color: #cdcdcd;
    opacity: unset;
}

.tag-input label {
    padding-left: 10px;
}

.tag-input-wrapper {
    margin-left: 60px;
}

.tag-input div div[role='button'] {
    background-color: white;
    border: 1px solid #cdcdcd;
}

/* .todo-tag-list {
    font-size: 16px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.todo-tag-list li {
    border: none;
    padding: 5px 5px 0;

    color: rgba(175, 47, 47, 0.7);
} */
