.todo-list li .edit-tag-btn {
    right: 50px;
}

.todo-list li .delete-todo-btn {
    right: 10px;
}

.todo-list li .edit-tag-btn, .todo-list li .delete-todo-btn {
	/* display: none; */
	position: absolute;
	top: 5px;
	/* right: 30px; */
	bottom: 0;
	/*width: 40px;
	height: 40px; */
	margin: auto 0;
	/* font-size: 30px;
	color: #cc9a9a; */
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	opacity: 0.6;
}

.toggle {
	opacity: 0.6;
}
